<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/termPesquisa.css">
    <title>Terminal de pesquisa</title>
</head>
<body>
   
   <div class="container p-2">
    <header class="col bg-primary">
            <a href="/" id="homeTermPesquisa" class="p-3">Home</a>
        <div class="text-center mt-3">
            <img src="/images/logo.png" id="logo" alt="Logo">
        </div>
    </header>
    <div class="text-center mt-4">
        <h1 class="fs-1 fw-bold " id="titulo">Como estava sua refeição ?</h1>
    </div>
  
   

    <form method="POST" action="/muintoBoa" class="p-3">
        <div class="d-grid gap-2">
            <button class="btn btn-secondary p-3 m-0 fw-bold"  value="muintobom" name="resMuintoBoa" type="submit" > Muinto boa</button>
        </div>
    </form>

    <form method="POST" action="/boa" class="p-3">
        <div class="d-grid gap-2">
                <button class="btn btn-secondary p-3 m-0 fw-bold" value="bom" name="resBoa" type="submit">Boa</button>
        </div>
   </form>

   <form method="POST" action="/ruim" class="p-3">
        <div class="d-grid gap-2">
                <button class="btn btn-secondary p-3 m-0 fw-bold" value="ruim" name="resRuim" type="submit">Ruim</button>
        </div>
    </form>
   <div class="text-center" id="    ">
    <a href="#" class="btn btn-primary btn-lg p-4 m-5 fw-bold tamanhobtn">Fazer reserva</a>
    <a href="#" class="btn btn-primary btn-lg p-4 m-5 fw-bold tamanhobtn">Ver cardapio</a>
    <a href="#" class="btn btn-primary btn-lg p-4 m-5 fw-bold tamanhobtn">Sac</a>
   </div>
   </div>
   
   <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>


</html>